@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

body {
    font-family: "Raleway", serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(150deg, rgb(186,225,255) 0%, rgb(241, 189, 195) 100%);

}