/* SCROLLBAR */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #b6b6b6;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255);
    border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(236, 234, 234, 0.91);
    border-radius: 10px;
}

/* HOME */

.heading-name {
    color: white !important;
    font-size: clamp(60px, 10vw, 120px) !important;
    font-weight: 500px !important;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    margin-top: 45vh !important;
    margin-bottom: 15vh !important;
}

.home-social-icons {
    position: relative !important;
    display: inline-block !important;
    width: 65px !important;
    height: 65px !important;
    font-size: 30px !important;
    line-height: 2em !important;
    background: rgba(255, 255, 255, 0.972) !important;
    color: black !important;
    border-radius: 50% !important;
    transition: 0.5s !important;
}

.home-social-icons::before {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    border-radius: 50% !important;
    background: #000000 !important;
    transition: 0.5s !important;
    transform: scale(0.9) !important;
    z-index: -1 !important;
}

.home-social-icons:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #000000;
}

.home-social-icons:hover {
    color: #000000;
    box-shadow: 0 0 5px #acacac;
    text-shadow: 0 0 2px #424242;
}

.social-icons {
    display: inline-block !important;
    padding-right: 50px;
    padding-left: 50px;
}

.projects-heading {
    color: white !important;
    font-size: clamp(50px, 8vw, 80px) !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 200px;
    padding-bottom: 30px;
}

.projects-section {
    position: relative !important;
    padding-top: 150px !important;
    padding-bottom: 30px !important;
    background-image: var(--section-background-color) !important;
}

.projects-row {
    justify-content: center;
    padding-bottom: 10px;
}

.project-template {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    height: auto !important;
}

.project-card-view {
    box-shadow: 0 2px 5px 3px rgba(255, 255, 255, 0.46) !important;
    color: rgb(0, 0, 0) !important;
    opacity: 0.9 !important;
    transition: all 0.5s ease 0s !important;
    border-radius: 20px !important;
    height: 100% !important;
}

.project-card-view:hover {
    transform: scale(1.04) !important;
    overflow: hidden !important;
    box-shadow: 0 2px 4px 5px rgba(218, 218, 218, 0.6) !important;
}

.card-img-top {
    padding: 20px !important;
    opacity: 0.9 !important;
    border-radius: 30px !important;
}

.btn-primary {
    color: #fff !important;
    background-color: #000000 !important;
    border-color: #000000 !important;
}


